<p>Hello!</p>
<form method="post" action="/users/new">
  <input name="email">
  <input name="handle">
  <input name="name">
  <input name="password">
  <input name="password_confirmation">
  <button>Register</button>
</form>